html {
    background: url("../images/mario-background.jpg") no-repeat center center/cover;
    min-height: 100vh;
    /* incase background image fails to load */
    background-color: red;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Electrolize', sans-serif;
    text-align: center;
    color: #FBD000;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
    margin: 30px 0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.game-container {
    width: 600px;
    height: 400px;
    /* display and flex-wrap used contain the holes in .game-container */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* testing */
    /* border: 1px solid #FBD000; */
}

.hole {
    /* evenly proportion ref(https://css-tricks.com/almanac/properties/f/flex/) */
    flex: 1 0 33.33%;
    /* testing */
    /* border: 1px solid #FBD000; */
    overflow: hidden;
    position: relative;

}

/* using the :after pseudo-element to make this div a perfect responsive square*/
.hole:after {
    display: block;
    background: url("../images/pipe-mario.webp") bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    /* get the pipes just below the bottom so you don't see the mario stick out below */
    bottom: -40px;
}

.mario {
    background: url('../images/mario-49289.png') bottom center no-repeat;
    background-size: 40%;
    position: absolute;
    /* hide the mario from view until calling it in js */
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.mario.up .hole {
    top: 0;
}