/* set background image for the entire HTML document */
html {
  background: url('../images/mario-background.webp') no-repeat center center/cover;
  box-sizing: border-box;
  min-height: 100vh; /* Ensure minimum height of viewport */
}
  /* Inherit box-sizing for all elements and pseudo-elements */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* General styles for the body */
  body {
      font-family: 'Electrolize', sans-serif;
      text-align: center;
      color: #FBD000;
      text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      padding: 0;
      margin: 0;
  }
  /* Styles for main heading */
  h1 {
    font-size: 8em;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 0;
  }
/* Container for game instructions */
  .game-info{
    display: flex;
    justify-content: space-evenly;
  }

  /* game instructions & start buttons */
  .game-info-container button {
    background-color: #049cd8;
    color: #FBD000;
    margin: 15px;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.6em;
  }
/* Hover styles for buttons */
  .game-info-container button:hover {
    background-color: #FBD000;
    color: #049cd8;
    transition: 250ms ease-in-out;
  }
/* Styles for modal box content */
  .modal-box-content {
    background-color: #049cd8;
    margin: auto;
    padding: 20px;
    border: 2px solid #FBD000;
    border-radius: 8px;
    width: 60%;
  }

/* Close button styles for modal box */  
.close {
    color: #ff0000;
    float: right;
    font-size: 1em;
    font-weight: bold;
  }

/* Hover and focus styles for close button */
.close:hover,
.close:focus {
    color: #FBD000; /* Change color on hover/focus */
    text-decoration: none; /* Remove default underline */
    cursor: pointer; /* Change cursor to pointer */
}

/* Styles for headings within modal box content */
  .modal-box-content h2 {
    font-size: 1.2em;
     margin: 0;
    }
    .modal-box-content h3 {
    font-size: 0.6em;
    }
/* Styles for list items within modal box content */

  .modal-box-content li {
    text-align: left;
    padding: 5px;
    font-size: 0.5em;
  }
/* Styles for the modal box, W3schools really helped with learning to build a modal */
#modal-box {
    /* hide the modal box */
    display: none;
    position: fixed;
    /* sit on top of everything */
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* enable scroll */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* styles time up, to display when timeleft = 0 */
  #time-up {
    font-size: 1em;
    color: #ff0000;
    display: none;
  }

/* Styles for scoreboard and timer container */
.game-info-container {
    margin: 5px 0;
    display: flex;
    padding: 0 10px;
    justify-content: space-evenly;
    font-size: 2em;
  }

  #time-left,
  #score-board {
    font-size: 1em;
  }

  #marios-hit,
  #timer {
    display: block;
  }

  /* Styles for game container */
  .game-container {
    background-color: rgba(4, 156, 216, 0.5);
    border: 2px solid #FBD000;
    border-radius: 10px;
    width: 500px;    
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-shrink: 0;
  }
  
 /* Styles for individual holes */
.hole {
  flex: 1 0 33.33%; /* Use flexbox for equal-width columns */
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* Set position to relative */
}
  /* Styles for elements after each hole */

  .hole:after {
    display: block; 
    background: url("../images/pipe-mario.webp") bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 2;
    bottom: -40px;
  }

  /* Styles for Mario character */

  .mario {
    background: url("../images/mario-49289.webp") bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
  }
  /* Styles for Mario when hole is 'up' */

  .hole.up .mario {
    top: 0;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: #FBD000;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    z-index: 99999;
  }

  .popup p {
    font-size: 2em;
    color: #049cd8;
  }

  .popup button {
    background-color: #049cd8;
    color: #FBD000;
    border-radius: 8px;
    padding: 10px;
  }

  .popup button:hover {
    background-color: #43b047;
  }


  /* +++++++++++++ MEDIA QUERIES +++++++++++++++++++ */

   @media (max-width: 600px) {
    html {
      background: url('../images/mario-phone-bg.webp') no-repeat center/cover;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
      min-height: 100vh; /* Ensure minimum height of viewport */
    }
    h1 {
      font-size: 5em;
      margin: 20px 30px;
    }
    button {
      padding: 5px;
    }
    .modal-box-content h3 {
      font-size: 0.5em;
    }
    .modal-box-content li {
      font-size: 0.5em;
    }
    .game-info-container h2 {
      margin-top: 10px;
      font-size: 1em;
    }
    .game-container {
      width: 80%;
    }
    .mario {
      background-size: 70%;
    }
    .hole {
      height: 200px;
    }
    .popup {
      width: 70%;
      height: 40%;
    }
  }


  