html {
    background: url('https://res.cloudinary.com/dhktvbrfa/image/upload/v1708539252/mario-background_ime5zw.jpg') no-repeat center center/cover;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 10px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
      font-family: 'Electrolize', sans-serif;
      text-align: center;
      color: #FBD000;
      text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      padding: 0;
      margin: 0;
  }
  
  h1 {
    font-size: 10rem;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .game-info{
    display: flex;
    justify-content: space-evenly;
  }

  /* game instructions & start buttons */
  .game-info-container button {
    background-color: #049cd8;
    color: #FBD000;
    border-radius: 8px;
    padding: 10px;
  }

  .game-info-container button:hover {
    background-color: #FBD000;
    color: #049cd8;
    transition: 250ms ease-in-out;
  }

  /* game instructions modal box content */
  .modal-box-content {
    background-color: #049cd8;
    margin: auto;
    padding: 20px;
    border: 2px solid #FBD000;
    border-radius: 8px;
    width: 80%;
  }

  /* modal box close button */
  .close {
    color: #ff0000;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #FBD000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-box-content h2 {
    font-size: 4em;
     margin: 0;
    }
    .modal-box-content h3 {
    font-size: 2.5em;
    }

  .modal-box-content li {
    text-align: left;
    padding: 5px;
    font-size: 18px;
  }
/* The game instructions modal box ref(W3Schools for help) */
  #modalBox {
    /* hide the modal box */
    display: none;
    position: fixed;
    /* sit on top of everything */
    z-index: 100;
    padding-top:100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* enable scroll */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* time up, to display when timeleft = 0 */
  #time-up {
    color: #ff0000;
    display: none;
  }

  /* scoreboard and timer container */
  .game-info-container {
    margin: 5px 0;
    display: flex;
    padding: 0 10px;
    justify-content: space-evenly;
    font-size: 2em;
  }


  #mariosHit,
  #timer {
    display: block;
  }
  
  .game-container {
    background-color: rgba(4, 156, 216, 0.5);
    border: 2px solid #FBD000;
    border-radius: 10px;
    width: 500px;    
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-shrink: 0;
  }
  
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  
  .hole:after {
    display: block;
    background: url("https://res.cloudinary.com/dhktvbrfa/image/upload/v1708540515/pipe-mario_hzv5ah.webp") bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 2;
    bottom: -40px;
  }
  
  .mario {
    background: url("https://res.cloudinary.com/dhktvbrfa/image/upload/v1708188698/mario-49289_rvghco.png") bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
  }
  
  .hole.up .mario {
    top: 0;
  }


  /* +++++++++++++ MEDIA QUERIES +++++++++++++++++++ */

   @media (max-width: 600px) {
    h1 {
      font-size: 5em;
      margin: 20px 30px;
    }
    button {
      padding: 5px;
    }

    .modal-box-content h3 {
      font-size: 1em;
    }
    .modal-box-content li {
      font-size: 0.8em;
    }
    .game-info-container h2 {
      margin-top: 10px;
      font-size: 1em;
    }
    .game-container {
      width: 80%;
    }
    .mario {
      background-size: 70%;
    }
    .hole {
      height: 200px;
    }
  }


  